{% extends 'base.html.twig' %}

{% block content %}

<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Project Symfony
      </h1>
      <h2 class="subtitle">
       Application de A a Z pour Apprendre symfony version 3.3 avec bulma et bootstrap et vuejs
      </h2>
    </div>
  </div>
</section>

<hr>

<div class="container">
    <div class="columns">
       {% for post in posts %}

                <div class="card column">
                    <div class="card-image">
                        <figure class="image is-4by2">
                        <img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img src="https://versions.bulma.io/0.5.1/images/placeholders/96x96.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ post.title }}</p>
                            <p class="subtitle is-6">@johnsmith</p>
                        </div>
                        </div>

                        <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a>#css</a> <a>#responsive</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                        </div>
                    </div>
                    </div>

        {% endfor %}
 
    </div>
</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
